body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px;
    color: #000;
    font-weight: 500;
    background: #fff;
    letter-spacing: -0.5px;
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    align-items: center;
    width: 100%;
    padding: 24px;
    font-size: 16px;
    font-weight: 600;
}

main {
    background: linear-gradient(#fff 0%, #eee 30%);
    padding: 160px 24px 80px;
}

.logo {
    height: 24px;
}

.img-logo {
    height: 100%;
}

h1 {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 28px;
    font-weight: 600;
    letter-spacing: -1.5px;
}

h2 {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 16px;
    font-weight: 600;
    letter-spacing: -0.5px;
}

h3 {
    font-size: 20px;
    margin-bottom: 12px;
    font-weight: 600;
    letter-spacing: -0.5px;
    background: linear-gradient(-45deg, #e65c32, #d62a6c, #1084af, #0fab86);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h4 {
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 16px;
    font-weight: 600;
    letter-spacing: -0.5px;
}

p {
    margin-bottom: 16px;
}

.p-small {
    font-size: 18px;
    letter-spacing: -0.3px;
    opacity: 0.6;
}

.p-source {
    font-size: 16px;
    letter-spacing: 0px;
    opacity: 0.6;
    margin-top: 32px;
}

.p-source-mobile {
    font-size: 16px;
    letter-spacing: 0px;
    opacity: 0.6;
    margin-top: 40px;
    margin-bottom: 0;
    display: none;
}

ol {
    padding-left: 24px;
}

ol li {
    margin-bottom: 12px;
    padding-left: 8px;
}

ol li::marker {
    margin-right: 4px;
}

a {
    transition: opacity 0.5s;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

a:hover {
    opacity: 0.6;
}

.slide {
    max-width: 1280px;
    padding: 32px;
    min-height: 480px;
    margin: 24px auto;
    background: #fff;
    border-radius: 24px;
    overflow: hidden;
}

.container {
    max-width: 880px;
    //margin: 0 auto;
}

.columns {
    display: flex;
    gap: 48px;
}

.column-1 {
    flex: 1;
}

.column-2 {
    flex: 2;
}

.screenshot {
    margin-bottom: 16px;
    border-radius: 12px;
    padding: 8px 0 0 8px;
    background: #eee;
}

.screenshot.transparent {
    background: none;
    padding: 0px;
    margin-bottom: 0px;
}

.quote {
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 12px;
    font-size: 16px;
    //background: #eee;
    border: solid 1px rgba(0,0,0,0.12);
}

.quote p {
    margin-bottom: 8px;
}

.quote .attribution {
    font-size: 16px;
    margin-bottom: 0;
    opacity: 0.7;
    display: flex;
    gap: 8px;
    align-items: center;
}

.attribution-icon {
    height: 20px;
    width: 20px;
    border-radius: 8px;
    background: linear-gradient(-45deg, #e65c32, #d62a6c, #1084af, #0fab86);
	background-size: 150% 150%;
    background-position: center;
}

.asterisk {
    opacity: 0.5;
}

/* .text-teachers {
    background: -webkit-linear-gradient(-45deg, #e65c32, #d62a6c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-learners {
    background: -webkit-linear-gradient(-45deg, #1084af, #0fab86);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.demo-video {
    border-radius: 12px;
    overflow: hidden;
}

/* Individual Slides */

#title {
    //padding-top: 80px;
    min-height: 0;
    padding-bottom: 0;
    background: rgba(0,0,0,0.08);
    border-color: #eee;
    //border: none;
    //text-align: center;
    color: #fff;
    background: linear-gradient(-45deg, #e65c32, #d62a6c, #1084af, #0fab86);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
}

#title .container {
    max-width: none;
}

#title .column-2 {
    margin-right: -32px;
}

#title .hero {
    border-top-left-radius: 8px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.15);
}

.logo-title {
    margin: 8px 0 20px;
    height: 32px;
    filter: invert(1);
    transition: transform 1.5s ease-in-out;
}

.logo-title:hover {
    transform: rotate(180deg);
}

#solution .columns {
    gap: 24px;
    margin-top: 24px;
}

#solution .slide {
    min-height: 0;
    padding: 32px 32px 28px;
    border-radius: 16px;
    margin: 0;
    border: solid 1px rgba(0,0,0,0.15);
}

#positioning .column-1:first-child h4 {
    color: #8E1540;
}

#positioning .column-1:last-child h4 {
    color: #073B5A;
}

.profile {
    display: flex;
    margin-top: 32px;
    gap: 32px;
}

.profile-pic {
    flex: 2;
}

.profile-text {
    flex: 3;
}

.profile-text h2 {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 28px;
}

.profile-text p {
    margin-bottom: 8px;
    font-size: 18px;
    letter-spacing: -0.3px;
}

.profile-text img {
    height: 28px;
    margin-top: 16px;
}

footer {
    display: flex;
    margin-top: 64px;
    padding: 24px 24px 40px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    font-size: 14px;
    line-height: 20px;
    opacity: 0.5;
}

footer img {
    height: 24px;
    width: 24px;
}

footer p {
    flex: 1;
    text-align: right;
}

footer a {
    flex: 1;
    text-decoration: none;
    color: #000;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media (max-width: 1080px) {
    .slide {
        max-width: 880px;
    }

    .columns {
        flex-direction: column;
        gap: 24px;
    }

    .screenshot.transparent {
        max-width: 560px;
        margin: 0 auto;
    }

    h4 {
        max-width: 560px;
        margin-left: auto;
        margin-right: auto;
    }

    .p-source {
        display: none;
    }
    
    .p-source-mobile {
        display: block;
    }

    .profile-pic {
        flex: 1;
    }
}

@media (max-width: 840px) {
    main {
        padding-top: 80px;
    }

    .profile-pic {
        flex: 1;
    }
    .profile-text {
        flex: 2;
    }
}

@media (max-width: 600px) {
    header {
        padding-left: 16px;
        padding-right: 16px;
    }

    main {
        padding-left: 16px;
        padding-right: 16px;
    }

    .slide {
        margin-bottom: 16px;
        margin-bottom: 16px;
        padding: 24px;
    }
    
    #solution .slide {
        padding: 0;
        border: none;
        margin-bottom: 8px;
        border-radius: 0;
    }

    body {
        font-size: 18px;
    }

    h1 {
        font-size: 32px;
        line-height: 38px;
    }

    h2 {
        font-size: 24px;
        line-height: 30px;
    }

    h3 {
        font-size: 18px;
        line-height: 22px;
    }

    h4 {
        font-size: 18px;
        line-height: 22px;
    }

    .p-small {
        font-size: 16px;
        line-height: 24px;
    }

    .profile-text h2 {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 4px;
    }

    .profile-text p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 4px;
    }

    .profile-text img {
        height: 24px;
        margin-top: 16px;
        margin-bottom: 4px;
    }
}

@media (max-width: 480px) {
    .profile {
        flex-direction: column;
    }

    .profile-pic {
        max-width: 160px;
    }
}